/*
    Hoja de estilos CSS para los ficheros:
    - portada.html (index.html)
    - <cientifico>.html

    Prácticas de SIBW
    Curso 2022/2023
    Autor: Luis Miguel Guirado Bautista
    Universidad de Granada

    @lu1smgb on GitHub
*/

/** Fuente por defecto y ancho de los bordes para toda la página */
* {
    font-family: Verdana;
    border-width: 1px;
}

/** Color de fondo de la página */
html {
    background-color: #333333;
}

/** Estructura de la página : flexbox */
#main {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    min-width: 700px;
}

/** Elementos comunes entre la cabecera, el cuerpo y el pie de página */
#main
header,
#cuerpo,
footer {
    /* Color de fondo de los bloques */
    background-color: #5c5c5c;
    /* Color del texto */
    color: #d0d0d0;
    /* Esquinas redondeadas */
    border-radius: 12px;
    /* Los elementos de la web tienen el mismo ancho */
    width: 70%; /* Si yo pongo em, entonces el ancho es FIJO */
}

/******************** CABECERA DE LA PÁGINA ********************/

/** Bloque de la cabecera */
header {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    column-gap: 6px;
    /* Alineamos verticalmente los elementos */
    align-items: center;
    /* Espacio entre el contenido y el borde */
    padding: 12px;
}

/** Logotipo de la esquina superior izquierda */
/*TODO - Para el formato móvil, que el logotipo se muestre encima de los demás elementos de la cabecera */
header #logotipo {
    /* Resolución de la imagen */
    grid-row: 1/3;
    /*TODO - El logotipo debe ajustarse a la altura de la cabecera */
    width: 100px;
    height: 100px;
    /* Color de fondo, por si la imagen falla */
    background-color: #000000;
    /* Imagen redonda, como en el Mockup */
    border-radius: 50%;
    /* Mantiene su escala original */
    object-fit: cover;
}

/** El titulo y los enlaces a los menús están centrados */
header h1, nav {
    text-align: left;
    margin:0;
}

header h1 {
    font-size:40px;
}

/*TODO - Para el formato móvil, que el título y el eslogan aparezcan centrados en la cabecera, que no salgan del bloque */
@media screen and (max-width:1000px) {
    /** El logotipo aparecerá encima del título cuando estemos en un dispositivo móvil */
    header {
        display:flex;
        flex-direction: column;
    }

    /** El título y el eslogan aparecen centrados en la cabecera */
    header h1, nav {
        text-align: center;
        margin: 0;
    }
}

/** Estilo de los enlaces */
a {
    /* Los enlaces no aparecerán subrayados */
    text-decoration: none;
}

/** Enlaces a los menús de la cabecera */
#main header nav a {
    /* Color de fondo distinto al de la cabecera, simulando un botón */
    background-color: #666666;
    /* Bordes redondeados */
    border-radius: 12px;
    /* Espacio a los lados del resto de menús */
    padding-left: 12px;
    padding-right: 12px;
}

/** Enlaces no visitados */
a:link {
    color: #d0d0d0;
}

/** Enlaces visitados */
a:visited {
    color: #d0d0d0;
}

/*? El color de texto en los visitados y en los no visitados es el mismo */

/** Enlaces con el cursor por encima */
a:hover {
    color: #90d3ff;
}

/** Enlaces al hacer click */
a:active {
    color: #ffffff;
}

/******************** CUERPO DE LA PÁGINA ********************/

#cuerpo {
    /* Contenedor flexbox para el panel principal y el lateral */
    display:flex;
    flex-direction: row;
    flex-grow: 4;
    /* Espacio entre la cabecera y el pie de página, respectivamente */
    margin-top: 12px;
    margin-bottom: 12px;
    /* Un poco de espacio entre el borde y el contenido para que no se salga de las esquinas */
    padding: 6px;
}

/** Para dispositivos móviles */
@media screen and (max-width:1000px) {
    /* El panel lateral pasará a estar arriba o abajo del panel principal */
    #cuerpo {
        flex-direction: column;
    }

    /* Eliminamos el borde de la izquierda, añadimos el borde de arriba */
    #cuerpo aside {
        border-left-width: 0;
        border-top-style: solid;
    }

    /* Añadimos padding abajo para que no toque el borde */
    #cuerpo #panel-cientificos {
        padding-bottom: 6px;
    }
}

/** ----- Bloque que contiene a los cientificos ----- */
#cuerpo #panel-cientificos {
    /* Rejilla estatica */
    display: grid;
    /* Espacio entre elementos, independiente de la clase "cientifico" */
    gap: 6px 6px;
    /* 3 filas y 3 columas */
    grid-template-columns: calc(1/3 * 100% - 6px) calc(1/3 * 100% - 6px) calc(1/3 * 100% - 6px);
    /* Alineación de los elementos en el eje X */
    /*TODO - Los cientificos deberian de tener las mismas dimensiones ??? */
    justify-content:;
    /* Ocupa el 75% del panel principal */
    flex: 75%;
}

/** Bloque que contiene la biografia para un cientifico */
#cuerpo #panel-biografia {
    flex:75%;
    padding-right: 6px;
}

/** Bloque que contiene a cada científico */
#panel-cientificos .cientifico {
    /* El nombre del científico se encuentra en el centro */
    text-align: center;
    background-color: #666666;
    border-radius: 12px;
}

/** La imagen */
.cientifico img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 6px;
}

/** El nombre */
.cientifico p {
    /* Negrita */
    font-weight: bold;
    margin: 6px;
}

/** Panel lateral */
#cuerpo aside {
    /* Ocupa el 25% del panel principal */
    flex: 25%;
    padding-left: 6px;
    border-left-style: solid;
}

/*? Que hago con esto ??????????????????????????????????????????????????????? */
#cuerpo aside ul {
    /* Las listas tienen padding izquierdo por defecto, lo quitamos */
    padding: 0;
    /* Los elementos de la lista no tienen viñetas */
    list-style: none;
}

#cuerpo aside ul li {
    /* Los elementos de la lista están centrados en el panel lateral */
    text-align: center;
}

/*??????????????????????????????????????????????????????????????????????????? */

/******************** PIE DE LA PÁGINA ********************/
footer {
    /* Texto centrado */
    text-align: center;
    /* Bordes redondeados */
    border-radius: 6px;
    /* Un poco de padding para que el texto no se vea tan ajustado */
    padding: 1ch;
    /* El ancho del elemento se ajustará al texto que tenga */
    min-width: fit-content;
}