/* Estilo para todos los bloques de la pagina web */
* {
    font-family: Verdana;
    border-width: 1px;
}

/* Para el cuerpo */
body {
    background-image: url("???");
    margin-left: 20%;
    margin-right: 20%;
}

html {
    background-color: #a0d0a0;
}

/* Cabecera de la pagina web */

header > .quote {
    font-style: italic;
}

.logotipo {
    float: left;
    width: 50px;
    height: 50px;
    margin: 12px;
    margin-bottom:24px;
}

.titulo {
    font-style: italic;
}

/* Panel principal */
/* Bloque que contiene el panel lateral y el panel con los cientificos */
.panelPrincipal {
    /* Estructura */
    display:grid;
    grid-template-columns: 70% 30%;
    margin: 12px;
    padding: 12px;
    width: auto;
    height: 700px;
    /* Estilos */
    background-color: #e0e0e0;
}

/* Bloque que contiene a los cientificos */
section {
    float: left;
    border-style: dashed;
    width: auto;
    height: 700px;
}

/* Panel lateral, usamos la definicion de HTML */
aside {
    /* background-color:blue; */
    float: right;
    border-style: dashed;
    width: auto;
    height: 700px;
    text-align: center;
}

/* Pie de pagina */
footer {
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #e0e0e0;
    text-align: center;
}